body {
    margin: 0;
    padding: 3px;
}

.container {
    background-image: url('channel-rack.png');
    height: 216px;
    width: 499px;

    opacity: 0.9;
}

#channel-rack {
    height: 214px;
    width: 497px;
    border: solid 1px red;
    background: yellow;
    opacity: 0.2;
}