:root {
    --padding-channel-rack-center-left: 0px;
    --padding-channel-rack-center-top: 16px;
}

body {
    margin: 0;
    padding: 3px;
}

.container {
    /* background-image: url('channel-rack.png'); */
    height: 216px;
    width: 499px;

    /* opacity: 0.9; */
}

#channel-rack {
    height: 214px;
    width: 497px;

    border: solid 1px red;
    /* background: yellow; */
    /* opacity: 0.2; */
}

#channel-rack-center {

    height: calc(153px - var(--padding-channel-rack-center-top));
    width: calc(485px - var(--padding-channel-rack-center-left));
    
    border: solid 2px red;

    margin-top: 29px;
    margin-left: 4px;

    /* background: blue; */

    padding-top: var(--padding-channel-rack-center-top);
    padding-left: var(--padding-channel-rack-center-left);
}

.channel-rack-row {
    display: grid;
    grid-template-columns: 205px 1fr;

    border: yellow solid 0.01px;

    height: 30px;
}

.el1 {
    /* background: red; */

    display: flex;
    align-items: center;
}
.el2 {
    /* background: green; */
    display: flex;

    padding-left: 5px;
    padding-top: 5px;
}

.beat {
    height: 20px;
    width: 12px;
    /* background: #95DA37; */

    border-radius: 2px;
}

/* Skip the margin on the first one: */
.beat:nth-child(n+2) {
    margin-left: 4px;
}

.beat-l {
    background: #545A5E;
}

.beat-r {
    background: #665556;
}

.light {
    height: 8px;
    width: 8px;
    /* background: #95DA37; */
    background-image: linear-gradient(0deg, #3A4147, #4E555B);


    border-radius: 50%;
    margin-left: 6px;

    border: solid #434C51 1px;
}

.knob {
    height: 14px;
    width: 14px;
    background: #41484E;
    border-radius: 50%;
    margin-left: 4px;

    border: solid #434C51 1px;


}

.number {
    height: 24px;
    width: 34px;
    background: #4D565B;
    border-radius: 2px;
    margin-left: 4px;

    border: solid #434C51 1px;
}

.name {
    height: 24px;
    width: 82px;
    background: #4D565B;
    border-radius: 2px;
    margin-left: 8px;

    border: solid #434C51 1px;
}

.on-off {
    height: 24px;
    width: 6px;
    background: #4D565B;
    border-radius: 2px;
    margin-left: 9px;

    border: solid #434C51 1px;
}