.container {
    /* margin: 20px;
    display: grid;
    grid-template-columns: 200px 2fr 20% 1fr;
    grid-template-rows: 5rem 2.5rem; */
}

.row {
    display: grid;
    grid-template-columns: 100px 20px 120px 40px 1fr;
    
    /* Use CSS-grid as 1D and add my own row-divs */
    grid-template-rows: 100px;
    border: black solid 2px;
}


.el1 {
    background: rgba(255, 154, 72, 0.5);
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    /* grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3; */
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
}

/* Beats go here */
.el5 {
    background: rgba(255, 0, 0);

    /* flex on those kids */
    display: flex;

}

/* Single Beat-Section */
.beats {
    margin: 5px;
    height: 80px;
    width: 100px;
    background: rgba(0, 128, 0);

    display: flex;

    align-items: center;
    justify-content: center;

    padding: 5px;
}

/* Individual Beat */
.beat {
    margin: 0px 5px 0px 5px;
    height: 70px;
    width: 20px;
    background: rgba(255, 154, 72);
}


.button {
    font-size: 18px;
    color: black;
    border: grey 3px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.button:hover {
    color: red;
    background: green;
    transition: background-color 0.3s ease-in;
}